.front-page {
    background-color: var(--bg-color-middle);
    display: flex;
    flex-direction: row;
}

.left-options {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 60px;
    flex-shrink: 0;
    background-color: var(--bg-color-right-chat);
}


.left-icons {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    color: var(--icon-color);
}

.left-icons:hover {
    color: var(--accent-color);
    transform: scale(1.07);
    transition: 0.3s;
}

.upper-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.lower-icons {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 7px;
    flex: 1;
}

@media (max-width: 768px) {
    .front-page {
        display: none;
    }
}