.message-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    background-color: #DFD7D4;
    border-top: 1px solid var(--border-color, #e9edef);
}

.aside-dark .message-footer {
    background-color: #202c33;
    border-top: 1px solid #111b21;
}

.footer-icon {
    font-size: 24px;
    color: var(--icon-color, #54656f);
    margin: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.footer-icon:hover {
    color: var(--accent-color, #00a884);
    transform: scale(1.07);
}

.aside-dark .footer-icon {
    color: var(--icon-color, #8696a0);
}

.input-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 9px 12px;
    margin: 0 8px;
    display: flex;
    align-items: center;

}

/* Not even Transformers 2007 has this level of detail, I might be overexaggerating  ugh OUH ADSFAHD*/

.aside-dark .input-container {
    background-color: #2a3942;
}

.message-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: transparent;
    color: var(--text-primary, #111b21);
    resize: none;
    height: 20px;
    font-family: inherit;
    line-height: 20px;

}

.message-input::placeholder {
    color: #667781;
}

.aside-dark .message-input {
    color: #d1d7db;
}

.aside-dark .message-input::placeholder {
    color: #8696a0;
}

.send-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;


}

@media (min-width: 1080px) {
    .message-footer {
        padding: 15px 24px;
        height: auto;
    }

    .input-container {
        padding: 12px 16px;
        margin: 0 12px;
    }

    .message-input {
        font-size: 18px;
        height: 24px;
        line-height: 24px;
    }

    .footer-icon {
        font-size: 30px;
        margin: 0 12px;
    }
}

@media (max-width: 768px) {
    .message-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 100;
        box-sizing: border-box;
    }
}