@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root {
    /* Dark Theme for WhatsApp... Emo theme  */
    --bg-color-main: #161717;
    --bg-color-secondary: #2E2F2F;
    --bg-color-middle: #222e35;
    --text-primary: #e9edef;
    --text-secondary: #8696a0;
    --border-color: #202c33;
    --accent-color: #00a884;
    --hover-color: #2a3942;
    --icon-color: #aebac1;
    --scrollbar-thumb: #374045;
}

.light-mode {
    /* Light theme WhatsApp, aka Flashbang THROWIN FLASHBANG PIIIIIII  */
    --bg-color-right-chat: #DFD7D4;
    --bg-color-main: #ffffff;
    --bg-color-secondary: #f0f2f5;
    --bg-color-middle: #ffffff;
    --text-primary: #111b21;
    --text-secondary: #54656f;
    --border-color: #e9edef;
    --accent-color: #00a884;
    --hover-color: #f0f2f5;
    --icon-color: #54656f;
    --scrollbar-thumb: #ced0d1;
}

body {
    background-color: var(--bg-color-main);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}